<style>
  .display-4{
    margin-top: 0;
    /* padding-top: 50px; */
    margin-bottom: 15px;
    font-size: 50px;
    font-weight: 400;
    color: #fff;
    text-shadow: 0 0 25px rgba(51,88,104,.5);
    letter-spacing: .1em;
  }
</style>
<div class="jumbotron jumbotron-fluid" style="background-color: #45abf3;height: 250px;">
    <div class="container">
        <!-- 头部 -->
        <h1 class="display-4 text-center">芒果词典</h1>
        <!-- <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> -->
        <!-- 导航 -->
        <br>
        <br>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dict:word_list' %} ">首页</a></li>
            <li class="breadcrumb-item"><a href="{% url 'dict:translate' %} ">翻译</a></li>
            <li class="breadcrumb-item"><a href="{% url 'dict:search' %} ">搜索</a></li>
            <li class="breadcrumb-item"><a href="{% url 'dict:insert' %} ">增加</a></li>
            <!-- <li class="breadcrumb-item"><a href="#">拍照翻译</a></li>
            <li class="breadcrumb-item"><a href="#">文档翻译</a></li> -->
          </ol>
        </nav>
    </div>
</div>